@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-light-grey: #f1f1f1;
  --color-medium-grey: #9a9a9a;
  --color-dark-grey: #3e3e3e;

  --color-medium-primary: #448aff;
  --color-light-primary: #83b9ff;
  --color-dark-primary: #005ecb;

  --color-medium-danger: #ef5350;
  --color-light-danger: #ff867c;

  --color-medium-success: #388e3c;
  --color-light-success: #6abf69;
}

body {
  color: var(--color-dark-grey);
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

.header {
  background-color: var(--color-light-grey);
  text-align: center;
  padding: 3rem 1rem;
}

/*--------- Navbar -----------*/
.nav {
  background-color: white;
  display: flex;
  color: var(--color-medium-grey);
  box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3);
  position: relative;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 6rem;
}

.container {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media(max-width: 75em) {
  .container {
    width: 100vw;
    justify-content: center;
  }
}

.nav-item {
  padding: 1.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 3px solid transparent;
  transition: all 0.4s ease;
  cursor: pointer;
}

.active {
  background-color: rgba(0,0,0, 0.02);
  align-self: stretch;
  height: 6rem;
  color: var(--color-medium-primary);
  border-bottom: 3px solid var(--color-medium-primary);
}

.nav-item__link {
  margin-left: 0.6rem;
  color: inherit;
}

.active .nav-item__link {
  color: var(--color-medium-primary);
}

.nav-flex__1, .nav-flex__2, .container {
  display: flex;
  align-self: stretch;
}

.dropdown {
  overflow: hidden;
}

.dropdown__nav-item {
  color: var(--color-medium-grey);
  text-decoration: none;
  display: flex;
  text-align: left;
  transition: all 0.4s ease;
}

.dropdown .dropdown__content {
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: white;
  box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3);
  color: var(--color-medium-grey);
  border-radius: 0.6rem;
  top: 6rem;
  min-width: 14rem;
  z-index: 2000;
  transition: all 0.4s ease;
}

.dropdown__nav-item {
  display: flex;
  padding: 1rem;
  font-size: 1.6rem;
  padding-left: 2.4rem;
  text-align: left;
}

.dropdown__nav-item--active,
.dropdown__nav-item:hover {
  background-color: var(--color-light-primary);
  color: white;
}

.dropdown__link {
  margin-left: 1rem;
}

.dropdown:hover .dropdown__content {
  display: block;
  overflow: visible;
}

/*--------- Register/Login -----------*/
.form-control {
  box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2rem;
  margin: 3rem auto;
  background-color: white;
  border-radius: 1rem;
}

input::-webkit-input-placeholder {
  color: var(--color-medium-grey);
  font-family: 'Raleway', sans-serif;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.form-control__input {
  border-radius: 4px;
  border: 2px solid var(--color-light-grey);
  margin: 1rem auto;
  padding: 1rem;
  text-indent: 1rem;
  word-break: break-all;
  width: 95%;
  transition: all 0.3s ease;
}

@media(max-width: 75em) {
  .form-control {
    width: 90vw;
  }
}

.form-control__input:focus {
  width: 100%;
  border: 2px solid var(--color-light-primary);
}

/*--------- Button -----------*/
button {
  border: none;
  background: transparent;
}

button:focus {
  outline: none;
}

.btn {
  border-radius: 3rem;
  display: block;
  margin: 0 auto;
  padding: 1rem 3rem;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s ease;
} 

.btn--primary {
  background: linear-gradient(to right bottom, var(--color-light-primary), var(--color-medium-primary));
}

.btn--primary:hover {
  background: linear-gradient(to left top, var(--color-light-primary), var(--color-medium-primary));
  box-shadow: 0 2rem 6rem rgba(0,0,0, 0.3);
  transform: translateY(0.5rem);
}

.text-center {
  text-align: center;
  margin: 1.5rem auto;
  margin-top: 3rem;
}

.link {
  color: var(--color-light-primary);
  font-weight: 600;
}

